---
import Header from "../components/Header.astro";
import Wrapper from "../components/Wrapper.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Wrapper>
      <Header />
    </Wrapper>
    <slot />
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
<style lang="scss" is:global>
  :root {
    --orange: #ef7a33;
    --yellow: #ffcb4d;
    --font-size-16: 1.6rem;
    --font-size-18: 1.8rem;
    --font-size-20: 2rem;
    --font-size-24: 2.4rem;
    --font-size-30: 3rem;
    --font-size-36: 3.6rem;
    --font-size-42: 4.2rem;
    --font-size-48: 4.8rem;
    --space-4: 0.4rem;
    --space-8: 0.8rem;
    --space-12: 1.2rem;
    --space-16: 1.6rem;
    --space-16: 1.6rem;
    --space-18: 1.8rem;
    --space-20: 2rem;
    --space-24: 2.4rem;
    --space-28: 2.8rem;
    --space-32: 3.2rem;
    --space-36: 3.6rem;
    --space-40: 4rem;

    // --breakpoint-small: 480px;
    // --breakpoint-medium: 768px;
    // --breakpoint-large: 1024px;
    // --breakpont-xl: 1200px;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    padding: 0;
    margin: 0;
  }

  html,
  body {
    font-family: "Oswald", sans-serif;
    height: 100vh;
    font-size: 10px;
    background-color: black;
    color: white;
    overflow-x: hidden;
  }

  button {
    font-family: "Oswald", sans-serif;
  }

  body {
    //margin: 50px 100px;
    // margin: 20px;

    // @media screen and (min-width: 768px) {
    //   margin: 50px 100px;
    // }
  }

  ul,
  ol {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  h1 {
    font-size: 6rem;
  }

  p {
    font-size: 18px;
  }
</style>
